
li {
    list-style: none;
    /*display: inline-block;*/
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: white;
    color: black;
}

.navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icono {
    border-radius: 35px;
    background-color: #eeeeee;
    color: #989898;
    padding: 5px;
    width: 70%;
}

.busqueda {
    display: flex;
    align-items: center;
}


.cab {
    background-color: white;
    color: black;
    text-align: center;
}

.principal-img {
    object-fit: cover;
    max-height: 368px;
    width: 656px;
    border-radius: 17px;
}

.logo {
    position: absolute;
    z-index: 2;
    text-align: center;
    padding: 2%;
    top: -15px;
}

.pinteres-icons {
    color: white;
    background-color: #c8232c;
    border-radius: 50%;
}

.logo-img {
    position: relative;
    height: 20px;
}

.logo-img > a {
    position: absolute;
    bottom: -15px;
    left: 45%;
    margin-left: -50px;
}

#logo-img1 {
    height: 150px;
    border-radius: 50%;
}

.pics {
    display: block;
    object-fit: cover;
    padding: 1%;
    height: 80%; 
    width:90%; 
    border-radius: 15px;
}

.columnas {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 5px;
}

.columnas > div {
    margin:  0 auto;
}

@media screen and (max-width: 480px) {
    .columnas 
    .logo-prin {
      grid-template-columns: repeat(2, 1fr);
    }
  }

@media  screen and (min-width: 400px){
    .columnas {
        grid-template-columns: repeat(3, 1fr);

    }
}

    

